<div class="row">
  <!-- Work Item -->
  <div class="col-lg-6 mb-4">
    <!-- Card -->
    <div class="work-item position-relative">
      <div class="work-item__image">
        <img
          src="../../assets/images/works/gd-1.jpg"
          alt="1"
          class="img-fluid"
        />
      </div>
      <!-- END || Card -->

      <!-- Content -->
      <div
        class="work-item__content bg-primary d-flex flex-column justify-content-between"
      >
        <div>
          <h3
            class="work-item__title ff-sans fs-base text-white text-decoration-underline text-uppercase mb-2"
          >
            Work 1
          </h3>
          <span class="work-item__category fs-sm">Animation</span>
        </div>
        <div class="work-item__info d-flex align-items-center gap-1">
          <button
            class="btn btn-work d-inline-flex align-items-center justify-content-center"
          >
            <i class="fs-base fa-solid fa-share-nodes"></i>
          </button>
          <button
            class="btn btn-work d-inline-flex align-items-center justify-content-center gap-1"
          >
            <i class="fs-base fa-regular fa-eye"></i>
            <span>100</span>
          </button>
          <button
            class="btn btn-work d-inline-flex align-items-center justify-content-center gap-1"
          >
            <i class="fs-base fa-regular fa-heart"></i>
            <span>49</span>
          </button>
        </div>
      </div>
      <!-- END || Content -->
    </div>
  </div>
  <!-- END || Work Item -->

  <!-- Work Item -->
  <div class="col-lg-6 mb-4">
    <!-- Card -->
    <div class="work-item position-relative">
      <div class="work-item__image">
        <img
          src="../../assets/images/works/gd-2.jpg"
          alt="2"
          class="img-fluid"
        />
      </div>
      <!-- END || Card -->

      <!-- Content -->
      <div
        class="work-item__content bg-primary d-flex flex-column justify-content-between"
      >
        <div>
          <h3
            class="work-item__title ff-sans fs-base text-white text-decoration-underline text-uppercase mb-2"
          >
            Work 2
          </h3>
          <span class="work-item__category fs-sm">Animation</span>
        </div>
        <div class="work-item__info d-flex align-items-center gap-1">
          <button
            class="btn btn-work d-inline-flex align-items-center justify-content-center"
          >
            <i class="fs-base fa-solid fa-share-nodes"></i>
          </button>
          <button
            class="btn btn-work d-inline-flex align-items-center justify-content-center gap-1"
          >
            <i class="fs-base fa-regular fa-eye"></i>
            <span>100</span>
          </button>
          <button
            class="btn btn-work d-inline-flex align-items-center justify-content-center gap-1"
          >
            <i class="fs-base fa-regular fa-heart"></i>
            <span>49</span>
          </button>
        </div>
      </div>
      <!-- END || Content -->
    </div>
  </div>
  <!-- END || Work Item -->

  <!-- Work Item -->
  <div class="col-lg-6 mb-4">
    <!-- Card -->
    <div class="work-item position-relative">
      <div class="work-item__image">
        <img
          src="../../assets/images/works/gd-3.jpg"
          alt="3"
          class="img-fluid"
        />
      </div>
      <!-- END || Card -->

      <!-- Content -->
      <div
        class="work-item__content bg-primary d-flex flex-column justify-content-between"
      >
        <div>
          <h3
            class="work-item__title ff-sans fs-base text-white text-decoration-underline text-uppercase mb-2"
          >
            Work 3
          </h3>
          <span class="work-item__category fs-sm">Animation</span>
        </div>
        <div class="work-item__info d-flex align-items-center gap-1">
          <button
            class="btn btn-work d-inline-flex align-items-center justify-content-center"
          >
            <i class="fs-base fa-solid fa-share-nodes"></i>
          </button>
          <button
            class="btn btn-work d-inline-flex align-items-center justify-content-center gap-1"
          >
            <i class="fs-base fa-regular fa-eye"></i>
            <span>100</span>
          </button>
          <button
            class="btn btn-work d-inline-flex align-items-center justify-content-center gap-1"
          >
            <i class="fs-base fa-regular fa-heart"></i>
            <span>49</span>
          </button>
        </div>
      </div>
      <!-- END || Content -->
    </div>
  </div>
  <!-- END || Work Item -->

  <!-- Work Item -->
  <div class="col-lg-6 mb-4">
    <!-- Card -->
    <div class="work-item position-relative">
      <div class="work-item__image">
        <img
          src="../../assets/images/works/gd-4.jpg"
          alt="4"
          class="img-fluid"
        />
      </div>
      <!-- END || Card -->

      <!-- Content -->
      <div
        class="work-item__content bg-primary d-flex flex-column justify-content-between"
      >
        <div>
          <h3
            class="work-item__title ff-sans fs-base text-white text-decoration-underline text-uppercase mb-2"
          >
            Work 4
          </h3>
          <span class="work-item__category fs-sm">Animation</span>
        </div>
        <div class="work-item__info d-flex align-items-center gap-1">
          <button
            class="btn btn-work d-inline-flex align-items-center justify-content-center"
          >
            <i class="fs-base fa-solid fa-share-nodes"></i>
          </button>
          <button
            class="btn btn-work d-inline-flex align-items-center justify-content-center gap-1"
          >
            <i class="fs-base fa-regular fa-eye"></i>
            <span>100</span>
          </button>
          <button
            class="btn btn-work d-inline-flex align-items-center justify-content-center gap-1"
          >
            <i class="fs-base fa-regular fa-heart"></i>
            <span>49</span>
          </button>
        </div>
      </div>
      <!-- END || Content -->
    </div>
  </div>
  <!-- END || Work Item -->

  <div>
    <button class="btn btn-primary-blue">Show More</button>
  </div>
</div>
