<div class="default-page-padding d-flex flex-column justify-content-center h-100">
  <!-- Title -->
  <div class="section-title">
    <span class="section-title__overline d-inline-block mb-3 text-uppercase">
      About Us
    </span>
    <h2 class="section-title__text text-uppercase fw-bold">Who Am I?</h2>
  </div>
  <!-- END || Title -->

  <!-- Content -->
  <p>
    <b>Hi Im Jackson Ford</b> On her way she met a copy. The copy warned the
    Little Blind Text, that where it came from it would have been rewritten a
    thousand times and everything that was left from its origin would be the
    word (and) and the Little Blind Text should turn around and return to its
    own, safe country.
  </p>

  <p>
    Even the all-powerful Pointing has no control about the blind texts it is an
    almost unorthographic life One day however a small line of blind text by the
    name of Lorem Ipsum decided to leave for the far World of Grammar.
  </p>

  <!-- Services -->
  <div class="services row">
    <!-- Card -->
    <div class="col-lg-3">
      <div
        class="service-card d-flex flex-column justify-content-center service-card--blue"
      >
        <span class="service-card__icon mb-3">
          <i class="fa-regular fa-lightbulb"></i>
        </span>
        <h3 class="service-card__title ff-sans fs-base fw-medium">
          Graphic Design
        </h3>
      </div>
    </div>
    <!-- END || Card -->

    <!-- Card -->
    <div class="col-lg-3">
      <div
        class="service-card d-flex flex-column justify-content-center service-card--red"
      >
        <span class="service-card__icon mb-3">
          <i class="fa-solid fa-earth-africa"></i>
        </span>
        <h3 class="service-card__title ff-sans fs-base fw-medium">
          Web Design
        </h3>
      </div>
    </div>
    <!-- END || Card -->

    <!-- Card -->
    <div class="col-lg-3">
      <div
        class="service-card d-flex flex-column justify-content-center service-card--yellow"
      >
        <span class="service-card__icon mb-3">
          <i class="fa-solid fa-database"></i>
        </span>
        <h3 class="service-card__title ff-sans fs-base fw-medium">
          Software
        </h3>
      </div>
    </div>
    <!-- END || Card -->

    <!-- Card -->
    <div class="col-lg-3">
      <div
        class="service-card d-flex flex-column justify-content-center service-card--magenta"
      >
        <span class="service-card__icon mb-3">
          <i class="fa-solid fa-mobile-screen-button"></i>
        </span>
        <h3 class="service-card__title ff-sans fs-base fw-medium">
          Application
        </h3>
      </div>
    </div>
    <!-- END || Card -->
  </div>
  <!-- END || Services -->
</div>
