<div class="default-page-padding d-flex flex-column justify-content-center">
  <!-- Title -->
  <div class="section-title">
    <span class="section-title__overline d-inline-block mb-3 text-uppercase">
      Experience
    </span>
    <h2 class="section-title__text text-uppercase fw-bold">Work Experience</h2>
  </div>
  <!-- END || Title -->

  <!-- Timeline -->
  <ul class="timeline list-unstyled">
    <!-- Item -->
    <li class="timeline__item timeline__item--blue d-flex gap-3">
      <div
        class="timeline__icon d-flex justify-content-center align-items-center fs-lg rounded-circle"
      >
        <i class="fa-solid fa-pencil"></i>
      </div>
      <div class="timeline__card">
        <div class="d-flex align-items-center gap-2 mb-4">
          <h3 class="ff-sans fs-lg mb-0">Full Stack Developer</h3>
          <span class="timeline__date fw-medium">2017 - Present</span>
        </div>
        <p>
          Tolerably earnestly middleton extremely distrusts she boy now not. Add
          and offered prepare how cordial two promise. Greatly who affixed
          suppose but enquire compact prepare all put. Added forth chief trees
          but rooms think may.
        </p>
      </div>
    </li>
    <!-- END || Item -->

    <!-- Item -->
    <li class="timeline__item timeline__item--red d-flex gap-3">
      <div
        class="timeline__icon d-flex justify-content-center align-items-center fs-lg rounded-circle"
      >
        <i class="fa-solid fa-pencil"></i>
      </div>
      <div class="timeline__card">
        <div class="d-flex align-items-center gap-2 mb-4">
          <h3 class="ff-sans fs-lg mb-0">
            Front End Developer at Google Company
          </h3>
          <span class="timeline__date fw-medium">2017 - 2018</span>
        </div>
        <p>
          Even the all-powerful Pointing has no control about the blind texts it
          is an almost unorthographic life One day however a small line of blind
          text by the name of Lorem Ipsum decided to leave for the far World of
          Grammar.
        </p>
      </div>
    </li>
    <!-- END || Item -->

    <!-- Item -->
    <li class="timeline__item timeline__item--yellow d-flex gap-3">
      <div
        class="timeline__icon d-flex justify-content-center align-items-center fs-lg rounded-circle"
      >
        <i class="fa-solid fa-pencil"></i>
      </div>
      <div class="timeline__card">
        <div class="d-flex align-items-center gap-2 mb-4">
          <h3 class="ff-sans fs-lg mb-0">
            System Analyst 
          </h3>
          <span class="timeline__date fw-medium">2017 - 2018</span>
        </div>
        <p>
          Even the all-powerful Pointing has no control about the blind texts it
          is an almost unorthographic life One day however a small line of blind
          text by the name of Lorem Ipsum decided to leave for the far World of
          Grammar.
        </p>
      </div>
    </li>
    <!-- END || Item -->
  </ul>

  <!-- END || Timeline -->
</div>
