<div class="default-page-padding d-flex flex-column justify-content-center h-100">
  <!-- Title -->
  <div class="section-title">
    <span class="section-title__overline d-inline-block mb-3 text-uppercase">
      My Speciality
    </span>
    <h2 class="section-title__text text-uppercase fw-bold">My Skills</h2>
  </div>
  <!-- END || Title -->

  <!-- Content -->
  <div class="mb-5">
    <p>
      The Big Oxmox advised her not to do so, because there were thousands of
      bad Commas, wild Question Marks and devious Semikoli, but the Little Blind
      Text didn’t listen. She packed her seven versalia, put her initial into
      the belt and made herself on the way.
    </p>
  </div>

  <!-- Skills -->
  <div class="skills">
    <div class="row">
      <!-- Skill -->
      <div class="col-lg-6">
        <div class="skill skill--blue mb-4">
          <h3 class="fs-base ff-sans mb-2">Photoshop</h3>
          <div
            class="progress skill__progress position-relative"
            role="progressbar"
            aria-label="Photoshop"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div
              class="progress-bar position-relative skill__bar"
              data-percent="75%"
              style="width: 75%"
            ></div>
          </div>
        </div>
      </div>
      <!-- END || Skill -->

      <!-- Skill -->
      <div class="col-lg-6">
        <div class="skill skill--red mb-4">
          <h3 class="fs-base ff-sans mb-2">jQuery</h3>
          <div
            class="progress skill__progress position-relative"
            role="progressbar"
            aria-label="jQuery"
            aria-valuenow="60"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div
              class="progress-bar position-relative skill__bar"
              data-percent="60%"
              style="width: 60%"
            ></div>
          </div>
        </div>
      </div>
      <!-- END || Skill -->

      <!-- Skill -->
      <div class="col-lg-6">
        <div class="skill skill--yellow mb-4">
          <h3 class="fs-base ff-sans mb-2">HTML5</h3>
          <div
            class="progress skill__progress position-relative"
            role="progressbar"
            aria-label="HTML5"
            aria-valuenow="85"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div
              class="progress-bar position-relative skill__bar"
              data-percent="85%"
              style="width: 85%"
            ></div>
          </div>
        </div>
      </div>
      <!-- END || Skill -->

      <!-- Skill -->
      <div class="col-lg-6">
        <div class="skill skill--magenta mb-4">
          <h3 class="fs-base ff-sans mb-2">CSS3</h3>
          <div
            class="progress skill__progress position-relative"
            role="progressbar"
            aria-label="CSS3"
            aria-valuenow="90"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div
              class="progress-bar position-relative skill__bar"
              data-percent="90%"
              style="width: 90%"
            ></div>
          </div>
        </div>
      </div>
      <!-- END || Skill -->

      <!-- Skill -->
      <div class="col-lg-6">
        <div class="skill skill--green mb-4">
          <h3 class="fs-base ff-sans mb-2">WordPress</h3>
          <div
            class="progress skill__progress position-relative"
            role="progressbar"
            aria-label="WordPress"
            aria-valuenow="70"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div
              class="progress-bar position-relative skill__bar"
              data-percent="70%"
              style="width: 70%"
            ></div>
          </div>
        </div>
      </div>
      <!-- END || Skill -->

      <!-- Skill -->
      <div class="col-lg-6">
        <div class="skill skill--navy mb-4">
          <h3 class="fs-base ff-sans mb-2">SEO</h3>
          <div
            class="progress skill__progress position-relative"
            role="progressbar"
            aria-label="SEO"
            aria-valuenow="80"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <div
              class="progress-bar position-relative skill__bar"
              data-percent="80%"
              style="width: 80%"
            ></div>
          </div>
        </div>
      </div>
      <!-- END || Skill -->
    </div>
  </div>
  <!-- END || Skills -->

  <!-- END || Content -->
</div>
