// Bootstrap Colors Overrides
$primary: #2c98f0;

// Imports
@import "./node_modules/bootstrap/scss/bootstrap";
@import "styles/variables";
@import "styles/bootstrap-overrides";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap");

// Reset
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: $text-font-family;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $primary;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $primary;
  }
}

// Typgoraphy
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: 400;
  color: $black;
}

h1,
.h1 {
  font-size: 60px;
}

h2,
.h2 {
  font-size: 22px;
}

p {
  font-size: 15px;
  line-height: 1.8;
  color: $text-secondary-color;
  margin-bottom: 24px;
  & + p {
    margin-bottom: 32px;
  }
}

// Utility Classes
.ff-serif {
  font-family: $heading-font-family;
}

.ff-sans {
  font-family: $text-font-family;
}

.text-red {
  color: $red;
}

.fs-xxl {
  font-size: $font-size-xxl;
}

.fs-xl {
  font-size: $font-size-xl;
}

.fs-lg {
  font-size: $font-size-lg;
}

.fs-md {
  font-size: $font-size-md;
}

.fs-base {
  font-size: $font-size-base;
}

.fs-sm {
  font-size: $font-size-sm;
}

.fs-xs {
  font-size: $font-size-xs;
}

.section-title {
  font-size: $font-size-md;
  margin-bottom: 32px;
  letter-spacing: 5px;
  &__overline {
    font-size: $font-size-sm;
    text-transform: uppercase;
    color: $text-overline-color;
  }
}

// Default Page
.default-page-padding {
  padding: 48px 15%;
}

// Work Item Card
.work-item {
  position: relative;
  &:hover {
    .work-item__content {
      opacity: 1;
    }
  }
  &__image {
    width: 100%;
    height: 400px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
      object-position: center;
    }
  }
  &__content {
    transition: all 0.3s ease-in-out;
    padding: 40px 24px;
    position: absolute;
    inset: 0;
    opacity: 0;
  }
  &__category {
    color: $white;
    opacity: 0.7;
  }
  .btn-work {
    padding: 5px;
    background-color: #ffffff80;
    border-radius: 4px;
    height: 32px;
    min-width: 32px;
  }
}
